@font-face {
  font-family: 'custom-font';
  src: url('../font/custom-font.eot?53841479');
  src: url('../font/custom-font.eot?53841479#iefix') format('embedded-opentype'), url('../font/custom-font.woff?53841479') format('woff'), url('../font/custom-font.ttf?53841479') format('truetype'), url('../font/custom-font.svg?53841479#fontello') format('svg');
  font-weight: normal;
  font-style: normal; }

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?53841479#fontello') format('svg');
  }
}
*/
/* line 22, /Users/ariahboots/Desktop/Year Three/Web Development V/exercise-5-scss/scss/components/main */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "custom-font";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0.2em
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

/* line 53, /Users/ariahboots/Desktop/Year Three/Web Development V/exercise-5-scss/scss/components/main */
.icon-home-outline:before {
  content: '\e800'; }

/* '' */
/* line 54, /Users/ariahboots/Desktop/Year Three/Web Development V/exercise-5-scss/scss/components/main */
.icon-desktop:before {
  content: '\e801'; }

/* '' */
/* line 55, /Users/ariahboots/Desktop/Year Three/Web Development V/exercise-5-scss/scss/components/main */
.icon-th-list:before {
  content: '\e802'; }

/* '' */
/* line 56, /Users/ariahboots/Desktop/Year Three/Web Development V/exercise-5-scss/scss/components/main */
.icon-info-outline:before {
  content: '\e803'; }

/* '' */
/* line 57, /Users/ariahboots/Desktop/Year Three/Web Development V/exercise-5-scss/scss/components/main */
.icon-phone-outline:before {
  content: '\e804'; }

/* '' */
/* line 59, /Users/ariahboots/Desktop/Year Three/Web Development V/exercise-5-scss/scss/components/main */
* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box; }

/* line 65, /Users/ariahboots/Desktop/Year Three/Web Development V/exercise-5-scss/scss/components/main */
.float-right {
  float: right; }

/* line 69, /Users/ariahboots/Desktop/Year Three/Web Development V/exercise-5-scss/scss/components/main */
dropdown {
  display: inline-block;
  margin: 1em 2%; }

/* line 73, /Users/ariahboots/Desktop/Year Three/Web Development V/exercise-5-scss/scss/components/main */
dropdown label, dropdown ul li {
  display: block;
  width: 500px;
  background: #f6f8f8;
  padding: 30px 30px; }

/* line 79, /Users/ariahboots/Desktop/Year Three/Web Development V/exercise-5-scss/scss/components/main */
dropdown label:hover, dropdown ul li:hover {
  background: #9b4ed3;
  color: #fff;
  cursor: pointer; }

/* line 84, /Users/ariahboots/Desktop/Year Three/Web Development V/exercise-5-scss/scss/components/main */
dropdown label {
  color: #9b4ed3;
  border-left: 4px solid #9b4ed3;
  border-radius: 0 5px 0 0;
  position: relative;
  z-index: 2; }

/* line 91, /Users/ariahboots/Desktop/Year Three/Web Development V/exercise-5-scss/scss/components/main */
dropdown input {
  display: none; }

/* line 94, /Users/ariahboots/Desktop/Year Three/Web Development V/exercise-5-scss/scss/components/main */
dropdown input ~ ul {
  position: relative;
  visibility: hidden;
  opacity: 0;
  top: -20px;
  z-index: 1; }

/* line 101, /Users/ariahboots/Desktop/Year Three/Web Development V/exercise-5-scss/scss/components/main */
dropdown input:checked + label {
  background: #9b4ed3;
  color: #fff; }

/* line 106, /Users/ariahboots/Desktop/Year Three/Web Development V/exercise-5-scss/scss/components/main */
dropdown input:checked ~ ul {
  visibility: visible;
  opacity: 1;
  top: 0; }

/* line 114, /Users/ariahboots/Desktop/Year Three/Web Development V/exercise-5-scss/scss/components/main */
dropdown ul li:nth-child(1) {
  border-left: 4px solid #3cace7; }
  /* line 116, /Users/ariahboots/Desktop/Year Three/Web Development V/exercise-5-scss/scss/components/main */
  dropdown ul li:nth-child(1) .fa {
    color: #3cace7; }
  /* line 119, /Users/ariahboots/Desktop/Year Three/Web Development V/exercise-5-scss/scss/components/main */
  dropdown ul li:nth-child(1):hover {
    background: #3cace7;
    color: #fff; }
    /* line 122, /Users/ariahboots/Desktop/Year Three/Web Development V/exercise-5-scss/scss/components/main */
    dropdown ul li:nth-child(1):hover .fa {
      color: #fff; }

/* line 114, /Users/ariahboots/Desktop/Year Three/Web Development V/exercise-5-scss/scss/components/main */
dropdown ul li:nth-child(2) {
  border-left: 4px solid #ff5757; }
  /* line 116, /Users/ariahboots/Desktop/Year Three/Web Development V/exercise-5-scss/scss/components/main */
  dropdown ul li:nth-child(2) .fa {
    color: #ff5757; }
  /* line 119, /Users/ariahboots/Desktop/Year Three/Web Development V/exercise-5-scss/scss/components/main */
  dropdown ul li:nth-child(2):hover {
    background: #ff5757;
    color: #fff; }
    /* line 122, /Users/ariahboots/Desktop/Year Three/Web Development V/exercise-5-scss/scss/components/main */
    dropdown ul li:nth-child(2):hover .fa {
      color: #fff; }

/* line 114, /Users/ariahboots/Desktop/Year Three/Web Development V/exercise-5-scss/scss/components/main */
dropdown ul li:nth-child(3) {
  border-left: 4px solid #60dea9; }
  /* line 116, /Users/ariahboots/Desktop/Year Three/Web Development V/exercise-5-scss/scss/components/main */
  dropdown ul li:nth-child(3) .fa {
    color: #60dea9; }
  /* line 119, /Users/ariahboots/Desktop/Year Three/Web Development V/exercise-5-scss/scss/components/main */
  dropdown ul li:nth-child(3):hover {
    background: #60dea9;
    color: #fff; }
    /* line 122, /Users/ariahboots/Desktop/Year Three/Web Development V/exercise-5-scss/scss/components/main */
    dropdown ul li:nth-child(3):hover .fa {
      color: #fff; }

/* line 114, /Users/ariahboots/Desktop/Year Three/Web Development V/exercise-5-scss/scss/components/main */
dropdown ul li:nth-child(4) {
  border-left: 4px solid #fff037; }
  /* line 116, /Users/ariahboots/Desktop/Year Three/Web Development V/exercise-5-scss/scss/components/main */
  dropdown ul li:nth-child(4) .fa {
    color: #fff037; }
  /* line 119, /Users/ariahboots/Desktop/Year Three/Web Development V/exercise-5-scss/scss/components/main */
  dropdown ul li:nth-child(4):hover {
    background: #fff037;
    color: #fff; }
    /* line 122, /Users/ariahboots/Desktop/Year Three/Web Development V/exercise-5-scss/scss/components/main */
    dropdown ul li:nth-child(4):hover .fa {
      color: #fff; }

/* line 129, /Users/ariahboots/Desktop/Year Three/Web Development V/exercise-5-scss/scss/components/main */
.animate {
  transition: all 0.3s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  /* Chrome and Safari */
  -moz-backface-visibility: hidden;
  /* Firefox */
  -ms-backface-visibility: hidden
  /* Internet Explorer */ }
